{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} #}
    <p>You cannot access this part of the site if you're email is not verified. Please click on the link you received.</p>
{% endblock %}
