{% extends 'base.html.twig' %}

{% block title %}Question index
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="wrapper">
		<h1>Question index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Question</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>{{ questions.question }}</td>
						<tbody>
							{% for reponse in reponses %}
								<tr>
									<td>
										<a href="{{ path('question_index', {'idQuestion': questions.id+1, 'id' : questions.idCategorie , 'count' : reponse.id})}}">{{ reponse.reponse }}</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
