{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="wrapper">
		<h1>Score</h1>

		<table class="table">
			<thead>
				<tr>
					<th>votre score est de </th>
                    <th>{{ count }}/10</th>
				</tr>
			</thead>
			<tbody>
			
			</tbody>
		</table>
	</div>
{% endblock %}
