<form method="post" action="{{ path('user_to_admin', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to give the admin right to this user?');">
    <input type="hidden" name="_token" value="{{ csrf_token('newAdmin' ~ user.id) }}">
    <button class="btn">Give admin</button>
</form>
