{% extends 'base_admin.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="wrapper">
		<h1>Admin</h1>
	{% if errors is defined %}
		<p>{{errors}}</p>
	{% endif %}
	</div>
{% endblock %}
