{% extends 'base_admin.html.twig' %}

{% block title %}Statistiques
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="wrapper">
		<h1>Statistiques</h1>
	</div>
{% endblock %}
