<form method="post" action="{{ path('historique_quizz_delete', {'id': historique_quizz.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique_quizz.id) }}">
    <button class="btn">Delete</button>
</form>
