<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href={{ asset("/style.css")}}>
        </link>
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>
