{% extends 'base.html.twig' %}

{% block title %}Quiz
{% endblock %}

{% block body %}

	{% block header %}
		{{parent()}}
	{% endblock %}
	<div class="wrapper">
		<h3>Categories</h3>

		<div class="categories">
			<div class="cat-names">
				<div class="cat-list">
					{% for categorie in categories %}
						<div class="card">
							<p>{{ categorie.name }}</p>
							<a class="link" href="{{ path('question_index', {'id': categorie.id}) }}">Take the quizz &#8594;</a>
						</div>
					{% else %}
						<p colspan="3">no records found</p>
					{% endfor %}

				</div>
			</div>

		</div>
		<a href="{{ path('categorie_new') }}">Create new</a>
	</div>
{% endblock %}
